.banner{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background-image: linear-gradient(40deg,rgb(129, 212, 250),rgb(206, 147, 216),rgb(129, 212, 250),rgb(206, 147, 216),rgb(129, 212, 250),rgb(206, 147, 216));
}
.banner > div:nth-child(2){
    padding: 55px 2.5cm 0 0;
    /* border: 1px solid red; */
    text-align: left;
}
.banner > div:nth-child(2) > h1{
    font-size: 30px;
    font-weight: bold;
    color: rgb(132, 255, 255);
}
.banner > div:nth-child(2) > p{
    font-size: 20px;
    color: white;
}
.catagorys{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 70%;
    margin: 1cm auto;
    gap: 35px;
    text-align: center;
}
.items > img{
    border-radius: 5px;
}
.items > p{
    color: rgb(48, 46, 46);
    font-size: 15px;
    margin: 5px;
}
.heading_lite{
    font-size: 30px;
    color: rgb(48, 46, 46);
    font-weight: bold;
    text-align: center;
    margin: 1cm 0 10px 0;
}
.bottom{
    width: 85%;
    margin: 1cm auto;
    /* border: 1px solid red; */
    display: flex;

}
.bottom_1{
    width: 65%;
    background-color: #1DCBCA;
    padding: 20px;
}
.bottom_1 > h1{
    font-size: 40px;
    font-weight: bold;
}
.bottom_1 > p{
    margin: 0 10px;
}
.bottom_1 > button{
    width: 150px;
    height: 40px;
    border: 1px solid;
    margin: 1cm 0 0 0;
}
.bottom_1 > button:hover{
    background-color: rgb(15, 15, 34);
    color: #1DCBCA;
}
.item{
    margin: 5px;
}
.item > img{
    height: 150px;
}
.banner_2{
    width: 85%;
    /* border: 1px solid red; */
    margin: 1cm auto 2cm auto;
}
.banner_2 > img{
    width: 100%;
    height: 200px;

}